<div class="container mt-5">

    <h2 class="mb-4">Checkout</h2>

    <div class="row">

        <!-- Order Summary -->
        <div class="col-md-7">

            <h4>Order Summary</h4>

            <table class="table table-dark">

                <tr>
                    <td>Elden Ring</td>
                    <td>500,000 VND</td>
                </tr>

                <tr>
                    <td>Cyberpunk 2077</td>
                    <td>450,000 VND</td>
                </tr>

                <tr>
                    <th>Total</th>
                    <th class="text-warning">950,000 VND</th>
                </tr>

            </table>

        </div>


        <!-- Payment -->
        <div class="col-md-5">

            <h4>Payment Method</h4>

            <div class="card bg-dark text-light p-3">

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment">
                    <label class="form-check-label">
                        Credit Card
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment">
                    <label class="form-check-label">
                        MoMo
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment">
                    <label class="form-check-label">
                        VNPay
                    </label>
                </div>

                <button class="btn btn-success w-100 mt-3">
                    Complete Payment
                </button>

            </div>

        </div>

    </div>

</div>